# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Sujet avec numéro de page :
RewriteRule ^accueil.html$          /controllers/home-ctrl.php[L] 
RewriteRule ^parametre.html$        /controllers/parameters-ctrl.php[L]   
RewriteRule ^sujet([0-9]+).html$    /controllers/pages-ctrl.php?id=$2[L]

ErrorDocument 404 /404.php