/* <!-- -------------------------------- -->
<!-- ------------BRANCH HOME------------ -->
<!-- ----------------------------------- --> */


main{
    min-height: 100vh;
    background-image: linear-gradient(339deg, rgba(47, 47, 47,0.02) 0%, rgba(47, 47, 47,0.02) 42%,transparent 42%, transparent 99%,rgba(17, 17, 17,0.02) 99%, rgba(17, 17, 17,0.02) 100%),linear-gradient(257deg, rgba(65, 65, 65,0.02) 0%, rgba(65, 65, 65,0.02) 11%,transparent 11%, transparent 92%,rgba(53, 53, 53,0.02) 92%, rgba(53, 53, 53,0.02) 100%),linear-gradient(191deg, rgba(5, 5, 5,0.02) 0%, rgba(5, 5, 5,0.02) 1%,transparent 1%, transparent 45%,rgba(19, 19, 19,0.02) 45%, rgba(19, 19, 19,0.02) 100%),linear-gradient(29deg, rgba(28, 28, 28,0.02) 0%, rgba(28, 28, 28,0.02) 33%,transparent 33%, transparent 40%,rgba(220, 220, 220,0.02) 40%, rgba(220, 220, 220,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}


/* ! NAVBAR */
#navbar__main-div{ /* continents */
    width: 60vw;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) { /* liste déroulante en mobile */
    #navbar__main-div{
        display: block;
        width: 100%;
        text-align: end;
    }
    #navbar__btn-div{ /* bouton paramètres */
        width: 100vw;
        display: flex;
        justify-content: end;
    }
    #navbar__logo--dark{
        height: 73px;
        top: 1px;
        left: 1px;
    }
    #footer__logo--dark{
        height: 78px !important;
        top: 1px !important;
        left: 2px;
    }
}
@media (min-width: 768px) and (max-width: 990px) { /* liste déroulante en tablette */
    #navbar__main-div{
        display: block;
        width: 100%;
        text-align: center;
    }
    #navbar__btn-div{ /* bouton paramètres */
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .navbar img{ /* logo */
        padding-right: 30vw;
    }
}
.navbar img{ /* logo */
    height: 75px;
}
#navbar__main-div li{ /* continents */
    padding: 0 15px;
    margin-top: 6px;
}
#navbar__main-div li a{ /* continents */
    color: #737373;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
}
.navbar button:first-child{ /* bouton paramètres */
    background-color: #4767BD;
    color: #FFF !important;
}
.navbar button:first-child a{ /* bouton paramètres */
    color: #FFF !important;
}
.navbar button:first-child i{ /* bouton paramètres */
    color: #FFF !important;
}

/* ! main */
#main__pic{
    background-image: url('/public/assets/img/exemplaires du journal Le Monde.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
    height: 60vh;
}
#overlay{
    height: 100%;
    background-color: rgba(71, 103, 189, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    text-transform: uppercase;
    color: #FFF !important;
    font-size: 4em !important;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}
h1, h5{
    font-family: 'Lato', sans-serif;
}
.card p, .card a{
    font-family: 'Roboto', sans-serif;
}
.card .btn{
    background-color: #4767BD;
    border: none;
}

/* ! footer */
footer{
    min-height: 30vh;
    background-color: #FFF;
}
#footer__logo{
    height: 80px;
}
#footer__logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
i{
    color: #4767BD;
    padding: 0 10px;
}
footer h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #737373;
    font-size: 1em;
    letter-spacing: 2px;
}
.footer__links{
    color: #737373;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}
@media (min-width: 990px) {
    #footer__logosreaseaux--desktop{
        width: 500px;
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 990px) {
    #footer__logosreaseaux--desktop{
        width: 300px;
        text-align: center;
    }
}


/* ! pages */
#pages__pic{
    background-image: url('/public/assets/img/photo\ de\ journal\ cafe\ lunettes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 74%;
    height: 40vh;
}
#pages__overlay{
    height: 100%;
    background-color: rgba(71, 103, 189, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ! dark mode */
#btn-darkmode{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: #fff;
    position: absolute;
    top: 120px;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
body.dark{ /* ! quand le body a la class dark */
    background-color: #000 !important;
    color: #fff !important;
}
body.dark #btn-darkmode{
    background-color: #282828;
}
body.dark .navbar__text{
    color: #fff !important;
}
body.dark #navbar__btn{
    border: none !important;
}
.navbar-toggler-custom{
    border: none !important; /* Ajoutez ceci si vous voulez une bordure blanche */
}
body.dark main{
    background-image: linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, hsl(247,0%,2%),hsl(247,0%,2%)) !important;
}
body.dark .card{
    border: 1px solid #000;
}
body.dark .card-body{
    background-color: #282828;
    border: 1px solid #000 !important;
}
body.dark .card-body h5, body.dark .card-body p{
    color: #fff;
}
body.dark footer, body.dark footer h5, body.dark footer a{
    background-color: #000 !important;
    color: #fff !important;
}
#footer__logo--dark{
    height: 80px;
}
body.dark .card li{
    background-color: #282828 !important;
    color: #fff !important;
    border: 1px solid #000;
}

/* <!-- -------------------------------- -->
<!-- ------------BRANCH HOME------------ -->
<!-- ----------------------------------- --> */